-- CreateEnum
CREATE TYPE "PaymentMethod" AS ENUM ('EFECTIVO', 'TRANSFERENCIA', 'MIXTO');

-- AlterTable
ALTER TABLE "Product" ADD COLUMN     "code" TEXT NOT NULL DEFAULT '0',
ADD COLUMN     "codePrefix" TEXT,
ADD COLUMN     "price" DECIMAL(10,2) NOT NULL DEFAULT 0,
ALTER COLUMN "description" SET DEFAULT '-';

-- AlterTable
ALTER TABLE "Sale" ADD COLUMN     "paymentMethod" "PaymentMethod" NOT NULL DEFAULT 'EFECTIVO';

-- CreateIndex
CREATE UNIQUE INDEX "Product_code_key" ON "Product"("code");

-- CreateIndex
CREATE INDEX "Product_codePrefix_idx" ON "Product"("codePrefix");

-- CreateIndex
CREATE INDEX "Product_code_name_idx" ON "Product"("code", "name");

